@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

html {
  min-height: 100%;
}

footer {
  text-align: center;
  font-size: small;
  margin: 4em 0;
}

footer a {
  color: #444;
}

body {
  font-family: Univers, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #08f;
  background-image: -webkit-linear-gradient(top, #fff, #08f);
  background-image:    -moz-linear-gradient(top, #fff, #08f);
  background-image:      -o-linear-gradient(top, #fff, #08f);
  background-image:         linear-gradient(to bottom, #fff, #08f);
}

div.tiles {
  width: 240px;
  margin: 10px auto;
  padding: 0;
  height: 100%;
  font-size: 0;
}

@media (min-width: 480px) {
  div.tiles {
    width: 480px;
  }
}

@media (min-width: 720px) {
  div.tiles {
    width: 720px;
  }
}

@media (min-width: 960px) {
  div.tiles {
    width: 960px;
  }
}

div.tiles > div {
  font-size: 16px;
  border-radius: 5px;
  width: 220px;
  height: 220px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  box-shadow: 0 0 10px #444;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 0.5em;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin: 0;
}

.big {
  font-size: 160%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.tiles .text {
  padding: 0 10px;
  text-align: center;
}

.tiles .text div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  height: 100%;
}

.tiles .text p {
  margin: 0;
}

.orange-bg {
  background-color: #ff6a4d;
  color: white;
}

.blue-bg {
  background-color: #0b486b;
  color: white;
}

.green-bg {
  background-color: #5eb26b;
}

.green-bg a {
  color: #774f38;
}

.blue-bg a {
  color: #ff0;
}

.yellow-bg {
  background-color: #f8ca00;
  color: black;
}

.yellow-bg a {
  color: #0000cd;
}

.purple-bg {
  background-color: #9e0b46;
  color: white;
}

.red-bg {
  background-color: #a61416;
  color: white;
}

.red-bg a {
  color: #f1bbba;
}

.peach-bg {
  background-color: #fbc599;
}

.peach-bg a {
  color: #444;
}

.pink-bg {
  background-color: #db7093;
  color: white;
}

.pink-bg a {
  color: #d3d3d3;
}

.gray-bg {
  background-color: #d3d3d3;
  color: #c71585;
}

.gray-bg a {
  color: #9e0b46;
}

.sky-bg {
  background-color: #2495b5;
  color: white;
}

.sky-bg a {
  color: #ff9e9d;
}

.brown-bg {
  background-color: #a76819;
}

.brown-bg a {
  color: #f8ecc9;
}

.black-bg {
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #444, #000);
  background-image:    -moz-linear-gradient(top, #444, #000);
  background-image:      -o-linear-gradient(top, #444, #000);
  background-image:         linear-gradient(to bottom, #444, #000);
}

.mikan-bg {
  background-color: #f8c226;
}

.bluegreen-bg {
  background-color: #3d9995;
}

.low-bg {
  background-color: #793a57;
  color: #fff;
}

code, pre {
  font-family: Inconsolata, monospace;
}

pre {
  margin: 0;
}

blockquote.code {
  border: 0;
}

blockquote {
  border: 1px dotted;
  padding: 10px;
}

blockquote > p {
  padding: 0;
  margin: 0;
}

#to_top {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  min-width: 0;
}

.to_top_icon {
  cursor: pointer;
  font-size: 2em;
  opacity: .2;
}

#to_top:hover, .to_top_icon:hover {
  opacity: .8;
}

.under-dev {
  border: solid 1px #404040;
  border-radius: 0.2em;
  background-color: #696969;
  color: white;
  width: 140px;
  opacity: .8;

  padding: 1px 5px 1px 5px;
  margin: 3px;

  font-size: 13px;
  text-shadow: 2px 2px 2px black;
  text-align: -webkit-center;
  text-align:    -moz-center;
  text-align:      -o-center;
  text-align:         center;

  position: absolute;
  right: 0;
  top: 0;
}
