<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bender マニュアル</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bender.css">
    <link rel="stylesheet" href="manual.css">
    <link rel="stylesheet" href="docs/font-awesome.css">
  </head>
  <body>
    <div class="under-dev"><div class="icon-wrench">&nbsp;&nbsp;Under Development</div></div>

    <div class="content">
      <div class="tiles quarter">
        <div class="bluegreen-bg" id="logo">
          <a href="../../index.ja.html"></a>
        </div>
        <div class="text low-bg">
          <div>
            <h2>目次</h2>
          </div>
        </div>

        <div class="text gray-bg">
          <div>
            <p>Copyright © 2011-2013, <a href="http://www.igel.co.jp">IGEL Co., Ltd.</a></p>
          </div>
        </div>
      </div>
      <div class="description threefourth">
        <div>
          {{ content }}
        </div>
      </div>
    </div>

    <script src="../../dom/flexo.js"></script>
    <script src="../../dom/bender.js"></script>
    <script>

"use strict";

bender.load_app(document.querySelector("#logo a"), {
  href: "../../dom/test/logo.xml", sides: "7", fgcolor: "white",
  bgcolor: "#3d9995"
});

    </script>

  </body>
</html>

