<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bender 環境構築</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bender.css">
    <link rel="stylesheet" href="setup.css">
  </head>
  <body>
    <div class="content">
      <div class="tiles quater">
        <div class="mikan-bg" id="logo">
          <a href="../../index.ja.html"></a>
        </div>
        <div class="text brown-bg">
          <div>
            <h3><a href="../tutorial/tutorial.ja.html">チュートリアル</a></h3>
          </div>
        </div>

        <div class="text gray-bg">
          <div>
            <p>Copyright © 2011, 2012, <a href="http://www.igel.co.jp">IGEL Co., Ltd.</a></p>
          </div>
        </div>
      </div>
      <div class="description threefourth">
        <div>
          {{ content }}
        </div>
      </div>
    </div>

    <script src="../../flexo.js"></script>
    <script src="../../bender.js"></script>
    <script>
"use strict";

var context = bender.create_context();
var logo_component = context.create_component({ href: "../../demo/logo.xml",
  sides: "7", fgcolor: "#f8c226", bgcolor: "white" });
var logo_instance = bender.create_instance({ reference: logo_component });
context.add_instance(logo_instance, document.querySelector("#logo a"));


    </script>

  </body>
</html>

