<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bender チュートリアル</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bender.css">
    <link rel="stylesheet" href="tutorial.css">
    <link rel="stylesheet" href="../../font-awesome.css">
    <script src="../../dom/flexo.js"></script>
    <script src="../../dom/bender.js"></script>
  </head>
  <body>
    <div class="under-dev"><div class="icon-wrench">&nbsp;&nbsp;Under Development</div></div>
    <a href="#" id="to_top">
      <div class="icon-arrow-up to_top_icon"></div>
    </a>
    <div class="content">
      <div class="tiles quarter">
        <div class="sky-bg" id="logo">
          <a href="../../index.ja.html"></a>
        </div>
        <div class="text green-bg">
          <div>
            <h2>基本編</h2>
            <ul>
              <li><a href="tutorial.ja.html">はじめに</a></li>
              <li><a href="hello-world.ja.html">Hello World.</a></li>
              <li><a href="external-component.ja.html">外部コンポーネント</a></li>
              <li><a href="property-binding.ja.html">プロパティ バインディング</a></li>
<!--
              <li><a href="canvas.ja.html">dom-eventとproperty</a></li>
              <li><a href="drawing.ja.html">お絵描きアプリ</a></li>
-->
            </ul>
          </div>
        </div>
<!--
        <div class="text pink-bg">
          <div>
            <h3>応用編</h3>
            <ul>
              <li><a href="component_detail.ja.html">コンポーネントの詳細</a></li>
              <li><a href="custom_runtime.ja.html">カスタム ランタイム</a></li>
            </ul>
          </div>
        </div>
-->
        <div class="text gray-bg">
          <div>
            <p>Copyright © 2011-2013, <a href="http://www.igel.co.jp">IGEL Co., Ltd.</a></p>
          </div>
        </div>
      </div>
      <div class="description threefourth">
        <div>
          {{ content }}
        </div>
      </div>
    </div>

    <script>

"use strict";

bender.load_app(document.querySelector("#logo a"), {
  href: "../../dom/test/logo.xml", sides: "7", fgcolor: "'white'",
  bgcolor: "'#2495b5'"
});

    </script>

  </body>
</html>

