<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bender Tutorial</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bender.css">
    <link rel="stylesheet" href="tutorial.css">
    <link rel="stylesheet" href="../../font-awesome.css">
  </head>
  <body>
    <div class="under-dev"><div class="icon-wrench">&nbsp;&nbsp;Under Development</div></div>
    <a href="#" id="to_top">
      <div class="icon-arrow-up to_top_icon"></div>
    </a>
    <div class="content">
      <div class="tiles quarter">
        <div class="sky-bg" id="logo">
          <a href="../../index.html"></a>
        </div>
        <div class="text green-bg">
          <div>
            <h2>Basics</h2>
            <ul>
              <li><a href="tutorial.html">Tutorial</a></li>
              <li><a href="hello-world.html">Hello World.</a></li>
              <li><a href="external-component.html">External Component</a></li>
              <li><a href="canvas.html">DOM Event and prorperty</a></li>
              <li><a href="drawing.html">Drawing application</a></li>
            </ul>
          </div>
        </div>

        <div class="text pink-bg">
          <div>
            <h2>Advanced topics</h2>
            <ul>
              <li><a href="component_detail.html">Detail of component</a></li>
              <li><a href="custom_runtime.html">Custom runtime</a></li>
            </ul>
          </div>
        </div>

        <div class="text gray-bg">
          <div>
            <p>Copyright © 2011-2013, <a href="http://www.igel.co.jp">IGEL Co., Ltd.</a></p>
          </div>
        </div>
      </div>
      <div class="description threefourth">
        <div>
          {{ content }}
        </div>
      </div>
    </div>

    <script src="../../flexo.js"></script>
    <script src="../../bender.js"></script>
    <script>
"use strict";

var context = bender.create_context();
context.$("component", { href: "../../demo/logo.xml", sides: "7", fgcolor: "#2495b5",
  bgcolor: "white" }).create_instance(document.querySelector("#logo a"));

    </script>

  </body>
</html>

